body {
	padding-top: 80px;
	font-family: 'Open Sans', sans-serif;
}

.jumbotron {
	color: #2c3e50;
	background: #ecf0f1;
}

.navbar-default .navbar-nav>li>a {
    color: #2c3e50;
    font-size: 16px;
}

.fa-external-link-alt {
	margin-left: 28px;
}

.fa-window-maximize {
	margin-left: 14px;
}

.row {
    display: flex;
	flex-wrap: wrap;
}

.row>[class="col-lg-4 col-sm-6"] {
    display: flex;
    flex-direction: column;
}